body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 56px;
    box-sizing: border-box;
    background: #222;
    max-width: 100%;
}

.icon {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
}

.icon:hover {
    background: black;
}

nav {
    background: #454545;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 12px;
}

nav ul li:hover {
    background: #878787;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.profile {
    width: 30%;
    border-radius: 5%;
}

header {
    background-image: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("background.jpg");
    background-size: cover;
    color: white;
}

h1,
h3 {
    line-height: 1.25em;
}

h1 {
    padding-top: 10px;
}

h3 {
    margin-bottom: 0;
    padding-bottom: 50px
}

p {
    max-width: 75%;
    display: inline-block;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

#contact {
    background: #ba9;
    background: rgba(200, 50, 70, .3);
    color: #cecece;
}

#portfolio {
    background: #558b8b;
    background: rgba(100, 200, 200, .3);
    color: #cecece;
}

#about {
    background: #2255bb;
    background: rgba(50, 100, 200, .3);
    color: #cecece
}

.contact {
    padding-left: 0;
}

.contact li {
    list-style: none;
}

.contact li a {
    text-decoration: none;
    color: #cecece;
}

.fa-twitter,
.fa-envelope {
    margin-right: .25em;
}

.contact li a:hover {
    text-decoration: underline;
}